.askPlayer{
    display: flex;
    height: 33px;
    justify-content: center;
    margin: 10px 0;
}

#askToChoose{margin: 0;}

body{
    background-color: #F0EFEE;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 5px 400px;
}

.computer, .player{
    flex: 1;
    flex-direction: column;
    max-width: 400;
}

#computerDivWins, #playerDivWins{
    height: 70px;
    margin-top: 0;
    width: 100%;
}

#computerDivWins{
    background-color: #E5E4dA;
    border-radius: 0 20px 0 0;
}

.horizontalSeparator{
    background-color: #F0EFEE;
    height: 1px;
    width: 98%;
}

.images, #playerScreenChoice, #computerScreenChoice{
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .images .image-wrapper{
    background-color: aqua;
} */

.images .image-wrapper:hover{
    width: 320;
    flex-grow: 1;
    flex-shrink: 0;
}

.images{
    gap: 1rem;
    width: 80%;
}

.image-wrapper{
    height: auto;
    width: 270px;
}

.image-wrapper img{
    border-radius: 20px;
    width: 100%;
}

.outer-screen, .player, .computer, #results, .totalScreen{
    align-items: center;
    display: flex;
    justify-content: center;
}

.outer-screen{
    background-color: black;
    border-radius: 40px 40px 22px 22px;
    flex-direction: column;
    width: 80%;
}

#playerDivWins{
    background-color: #EDC098;
    border-radius: 20px 0 0 0;
}

#playAgain{
    display: none;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: 25px;
}

#playerScreenChoice, #computerScreenChoice{flex: 1;}

#results{
    color:#F0EFEE;
    height: 50px;
    width: 80%;
}

#results p{margin: 0;}

.screen{
    background-color: black;
    border-radius: 45px 45px 0 0;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.title{
    margin: 0 0 20px 0;
    text-align: center;
}

.verticalSeparator{
    background-color: #F0EFEE;
    height: 100%;
    width: 1px;
}