.askPlayer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

.askPlayer p{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

body{
    padding: 20px 400px;
    background-color: #F0EFEE;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}
body p{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

#computerDivWins{
    background-color: #E5E4dA;
    margin-top: 0;
    width: 100%;
    height: 70px;
    border-radius: 0 20px 0 0;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

.images{
    display: flex;
    justify-content: space-between;
}

.image-wrapper{
    width: 300px;
    height: auto;
}

.image-wrapper img{
    width: 100%;
    border-radius: 20px;
}

.outer-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: black;
    border-radius: 40px 40px 22px 22px;
}

.player, .computer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#playerDivWins{
    background-color: #EDC098;
    border-radius: 20px 0 0 0;
    margin-top: 0;
    width: 100%;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

#playAgain{
    display: none;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

#results{
    color:#F0EFEE;
    background-color: black;
    text-align: center;
    width: 80%;
    height: 50px;
}

#results p{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
}

.screen{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-radius: 45px 45px 0 0;
    width: 100%;
    height: 400px;
}


.verticalSeparator{
    width: 1px;
    height: 100%;
    background-color: #F0EFEE;
}

.horizontalSeparator{
    height: 1px;
    width: 98%;
    background-color: #F0EFEE;
}

.totalScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}